

#centered_container
{
   position: absolute ;
   top: 30px ;
   left: 50% ;
   width:  800px ;
   height: 600px ;
   margin-left: -400px ;

   background-color: AliceBlue ;
   border: 1px solid LightSkyBlue ;
}

#centered_ui_components
{
   text-align: center;   /* This centers the buttons etc. */
   background-color: LightSkyBlue ; /* Somewhat darker than AliceBlue */
}

#moving_rectangle
{
   position: absolute;
   width: 6px ;
   height: 200px ;
   left: 276px ;   /* "container width" / 2 - "rectangle width" / 2 - "border width"
                       800 / 2 - 240 / 2 - 4 */
   top:  200px ;
   background-color: red ;
   border: 4px solid black ;
}


   

